body, html {
    width: 100%;
    height: 100%;
    background-color: #2b2e4a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}

h1 {
    font-size: 48px;
    color: white;
    margin-top: 50px;
}

h2 {
    font-size: 36px;
    color: white;
}

.game {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.cell {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 128px;
    color: black;
}

.cell:hover {
    cursor: pointer;
}

#c4 {
    border: 3px solid #e34445;
}

#c1, #c7 {
    border-right: 3px solid #e34445;
    border-left: 3px solid #e34445;
}

#c3, #c5 {
    border-top: 3px solid #e34445;
    border-bottom: 3px solid #e34445;
}

.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.result button {
    width: fit-content;
    margin-top: 20px;
    font-size: 18px;
    padding: 16px 32px 16px 32px;
    background-color: #e34445;
    border: none;
    outline: none;
    border-radius: 10px;
}

.result button:hover {
    cursor: pointer;
}